<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset = "UTF-8">
        <title>Kinder Food Finder</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="shared.css">
        <script src ='Search.js' type='text/javascript'></script>
    </head>
    <body>
        <header class="pageheader">
            <div class="pageheader_title">
                <a href="/" class="pageheader_title__anchor">KINDER FOOD FINDER</a>
                <div class="vertical-align"></div>
            </div><nav class="pageheader_navigationbar">
                <ul class="pageheader_navigationbar__items">
                    <li class="pageheader_navigationbar__search">
                        <input id = "pageheader_navigationbar__searchbox" type = "text" name = "SearchBrandName" Placeholder ="Search a brand name..."><div class="vertical-align"></div>
                    </li><li class="pageheader_navigationbar__item">
                        <a href="/">ABOUT THE SERVER</a>
                    </li><li class="pageheader_navigationbar__item">
                        <a href="/">GUIDELINE</a>
                    </li><li class="pageheader_navigationbar__item">
                        <a href="/">MY ACCOUNT</a>
                    </li>
                </ul>
            </nav>
        </header><div class="pagebody">
            <div class="pagebody_navigationbar">CONTROL PANEL
                <div class="pagebody_navigationbar__header"><a href = "/">Report</a></div>
                <div class="pagebody_navigationbar__header"><a href = "/">Import/ Insert Data</a></div>
                <div class="pagebody_navigationbar__header"><a href = "/">Update/ Delete Data</a></div>
            </div><div class="pagebody_mainbody">
                <div class="brand">
                    <div class="pagebody_mainbody__sectionheader__brand">Insert/ Import new brand(s) to the database
                    </div>
                    <div class="pagebody_inputform__brand">
                            <div class="pagebody_inputform__brand__dialog">Guideline: This function lets you enter the information of one new brand to the database. Please make sure that relevant inputs of a brand are filled.</div>
                            <div class = "inputform_brand__BrandNameHeader inputheader">Brand Name</div>
                            <div class = "inputform_brand__BrandCategoryHeader inputheader">Category</div>
                            <input type="text" name="Brand_Name" Placeholder = "Please enter the brand name..." id="inputform_brand__BrandName">
                            <select id="inputform_brand__BrandCategory">
                                <option value="Eggs">Eggs</option>
                                <option value="Eggs">Porks</option>
                                <option value="Eggs">Chicken/ Broilers</option>
                            </select>
                            <div class = "inputform_brand__BrandAccreditationHeader inputheader">Accreditation</div>
                            <div class = "inputform_brand__BrandRatingHeader inputheader">Rating</div>
                            <input type="text" name="Brand_Accreditation" Placeholder = "Please enter the accreditation..." class="inputform_brand__BrandAccreditation">
                            <input type="text" name="Brand_Rating" Placeholder = "Please enter the rating..." class="inputform_brand__BrandRating"></br>
                            <input type="button" class="inputform_brand__BrandSubmit" value="Submit">
                            <input type="button" class="inputform_brand__BrandReset" value="Reset">
                    </div>
                </div>
                
            </div>
            </div>
        </div>
    </body>
</html>
