<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset = "UTF-8">
        <title>Kinder Food Finder</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="shared.css">
        <link rel="stylesheet" href="searchpage.css">
    </head>
    <body>
        <header class="pageheader">
            <div class="pageheader_logo">
                <a href = "/" class ="pageheader_logo__anchor"><img src = "image/logo.png" alt="Kinder Food Finder"><div class="vertical-align"></div></a>
            </div><nav class="pageheader_navigationbar">
                <ul class="pageheader_navigationbar__items">
                    <li class="pageheader_navigationbar__search">
                        <input id = "pageheader_navigationbar__searchbox" type = "text" name = "SearchBrandName" Placeholder ="Search a brand name..."><div class="vertical-align"></div>
                    </li><li class="pageheader_navigationbar__item">
                        <a href="/">ABOUT THE SERVER</a>
                    </li><li class="pageheader_navigationbar__item">
                        <a href="/">GUIDELINE</a>
                    </li><li class="pageheader_navigationbar__item">
                        <a href="/">MY ACCOUNT</a>
                    </li>
                </ul>
            </nav>
        </header><div class="pagebody">
            <div class="pagebody_navigationbar">CONTROL PANEL
                <div class="pagebody_navigationbar__header"><a href = "/">Report</a></div>
                <div class="pagebody_navigationbar__header"><a href = "/">Manage Database</a>
                    <div class="pagebody_navigationbar__item"><a href = "/">Import</a></div>
                    <div class="pagebody_navigationbar__item"><a href = "/">Update</a></div>
                    <div class="pagebody_navigationbar__item"><a href = "/">Delete</a></div>
                </div>
            </div><div class="pagebody_mainbody">
                
            </div>
        </div>
    </body>
</html>