
.modal-body__store{
    display:block;
    width:100%;
    border-top: 1px solid black;
}

.modal-body__store > *{
    width:100%;
    display:block;
}

.modal-body__store thead > *, .modal-body__store tbody > *{
    width:100%;
    display:block;
}

.modal-body__store tr{
    border-bottom: 1px solid rgba(190,190,190,0.35);
}

.modal-body__search{
    display:inline-block;
    vertical-align:middle;
    width:80%;
    height:5vh;
    padding:1%;
    font-size:1.2vw;
    background-color: rgba(230,230,230,0.35);
    border-bottom-color: #ffffff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #ffffff;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #ffffff;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ffffff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
}

.modal-body__store__sixty{
    display:inline-block;
    width:55%;
    margin-right:5%;
}

.modal-body__store__twenty{
    display:inline-block;
    width:20%;
}

.modal-body__store__twenty__btn
{
    text-align:right;
}

.modal-body *{
    margin: 1% auto;
}