.Table_Brand_Name a{
    text-decoration: none;
    color:#212529;
}

.Table_Brand_Name a:active,.Table_Brand_Name a:hover{
    color:rgb(103,105,106);
}

.deletebutton_selectall {
    display:inline-flex;
    margin-left:2.5%;
}


/**
STYLE THE DELETE BUTTONS
 */
.pagebody_mainbody_infodisplay__deletebutton{
    width:100%;
    height:12.5%;
}

.deletebutton_button{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin:2.5%;
    vertical-align: top;

}

.button {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1vw;
    font-weight:bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
}

.button:hover input ~ .checkmark {
    background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.button input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.button input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.button .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
STYLE THE DELETE BUTTON
 */

.deletebutton_deletemarked{
    margin-left:2.5%;
    height:auto;
    width: 7.5%;
    cursor:pointer;
    visibility:hidden;
}

.deletebutton_deletemarked:hover :first-child{
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

.deletebutton_deletemarked:active :first-child{
    padding-top:1px;
}

.addreport-button {
    cursor: pointer;
    color:blue;
}

.addreport-button:active, .addreport-button:hover{
    text-decoration: underline;
}

/*
MODAL
 */
.modal-body *{
    margin:0;
    padding:0;
}

.modal-body__store{
    height:auto;
    padding: 1% 2.5%;
    width: 100%;
    cursor:pointer;
    margin-bottom:2.5%;
    background-color:rgba(230,230,230,0.35);
}

.modal-body__store__hundred{
    display:inline-block;
    vertical-align: top;
    width:95%;
    margin-right: 2.5%;
}

.modal-body__store__eighty{
    display:inline-block;
    vertical-align: top;
    width:77.5%;
    margin-right: 2.5%;
}

.modal-body__store__seventy{
    display:inline-block;
    vertical-align: top;
    width:67.5%;
    margin-right: 2.5%;
}

.modal-body__store__thirty{
    display:inline-block;
    vertical-align: top;
    width:27.5%;
    margin-right: 2.5%;
}

.modal-body__store__twenty{
    display:inline-block;
    vertical-align: top;
    width:17.5%;
    margin-right: 2.5%;
}

.modal-body__store__fifteen{
    display:inline-block;
    vertical-align: top;
    width:15%;
    margin-bottom:2.5%;
}

.modal-body__store__fifty{
    display:inline-block;
    vertical-align: top;
    width:47.5%;
    margin-right: 2.5%;
}

.editBox{
    width:100%;
}

.pagebody_inputform__errordialog__store{
    color:red;
    margin-top:2.5%;
}
.modal-body__store__changeable{
    cursor:pointer;
}

.initiallyhidden{
    visibility:hidden;
}




