doctype html

html
head
    title Console Page
    //link(rel="shortcut icon" href="images/Wikilatic_logo_Final_Colour_Transparent.png" type="image/png")
    link(href="css/styleFeature.css" rel="stylesheet" type="text/css")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    //script(src="https://www.gstatic.com/charts/loader.js")
    //script(src="js/featureFunction.js" type="text/javascript")
    //script(src="js/individual_feature.js" type="text/javascript")
    script.
        window.jQuery || document.write('script(src="js/jquery.js")')
body
    div(class="feature_page")
        div(class="feature_page_header")
            h1 KinderFoodFinder - Console
            div(class="upper_left")
                img(src="../images/logo.png" class="logoImage")
            div(class="upper_right")
                form(action="/import" method="post" enctype="multipart/form-data")
                    input(type="file" id="file" name="file" accept="*.csv" class="browse_button")
                    input(type="submit" value="Upload File" class="upload_button")
                div(class="upper_right_button")
                    form(action="/logout" method="get")
                        input(type="submit" value="LOGOUT" class="logout_button")
        div(class="feature_page_body")
            //div(class="feature_switch_buttons")
            //    button(id="overall_button") Overall
            //    button(id="individual_button") Individual
            //    button(id="author_button") Author
            //div(class="middle_body")
            //    // Overall Feature
            //    div(class="overall_feature")
            //        h2 Overall Analytics
            //        div(class="first_block")
            //            div(class="overall_requirement overall_first")
            //                h3 The articles with highest number of revisions
            //                div(id="articleHighestRev")
            //                    ol
            //            div(class="overall_requirement overall_first overall_first_btn")
            //                label(for="inputNum") The number of titles to show:
            //                input(id="inputNum" type="text" name="numShown" placeholder="Number..." required="" size="10")
            //                input(id="inputBtn" type="button" value="CHANGE")
            //            div(class="overall_requirement overall_first")
            //                h3 The articles with lowest number of revisions
            //                div(id="articleLowestRev")
            //                    ol
            //        div(class="second_block")
            //            div(class="overall_requirement")
            //                h3 The article edited by the largest group of registered users
            //                div(id="articleEditByLargeReUser")
            //            div(class="overall_requirement")
            //                h3 The article edited by the smallest group of registered users
            //                div(id="articleEditBySmallReUser")
            //            div(class="overall_requirement")
            //                h3 The top 3 articles with the longest history (measured by age)
            //                div(id="articleLongHistory")
            //                    ol
            //            div(class="overall_requirement")
            //                h3 The top 3 articles with the shortest history (measured by age)
            //                div(id="articleShortHistory")
            //                    ol
            //        div(class="third_block")
            //            div(class="overall_third_block_btn")
            //                button(id="overall_barchart_button") BarChart
            //                button(id="overall_piechart_button") PieChart
            //            div(id="outputChart")
            //    // Individual Feature
            //    div(class="individual_feature")
            //        h2 Individual Analytics
            //            div(class="individual_requirement")
            //        div(class="first_block")
            //                h4 please select an article
            //                input(type="text" id="articleInput")
            //                select(id="articles")
            //                input(type="button" value="select" id="show")
            //                div
            //                    span(id="checkTime")
            //        div(class="second_block")
            //            fieldset
            //                div
            //                    span(id="articleSelected")
            //                div
            //                    span(id="revisionTimes")
            //                div(id="ajax1")
            //                div(id="ajax2")
            //                div(id="test")
            //        div(class="third_block")
            //            div(class="individual_third_block_btn")
            //                button(id="yearly_distribution")  Yearly  distribution
            //                button(id="user_type_distribution")  User type distribution
            //                button(id="top_users_distribution") Top users distribution
            //            div(id="chart")
            //            div(id="top")
            //    // Author Feature
            //    div(class="author_feature")
            //        h2 Author Analytics
            //        div(class="first_block")
            //            div(class="author_requirement")
            //                h3 Please input author name:
            //                input(type="text" placeholder="Author..." id="input_author")
            //                input(type="button" value="SEARCH" id="searchAuthor")
            //                input(type="button" value="VIEW TIME" id="viewTime")
            //        div(class="second_block author_table_block")
            //            div(class="author_requirement" id="author_table")
            //                legend Author Analysis
            //                table
            //                    thead(class="author_title")
            //                        tr
            //                            th Title
            //                            th Author
            //                            th Revision Number
            //                            th(class="author_timestamp") Timestamp
            //                    tbody(id="author_search")
        div(class="feature_page_footer")
            div(class="bottom_copyright")
                p &copy; 2019 IT Capstone Project - KinderFoodFinder. All rights reserved | Design by Team 2 - COMP5703