doctype html

html
head
    title Statistic Page
    link(rel='stylesheet',type='text/css',href='css/fontawesome-free/all.min.css')
    link(rel='stylesheet',type='text/css',href='css/dataTables/dataTables.bootstrap4.css')
    link(rel='stylesheet',type='text/css', href='css/shared.css')
    link(rel='stylesheet',type='text/css', href='css/importInsertPage.css')
    link(rel='stylesheet',type='text/css',href='css/sb-admin.min.css')
    link(rel='stylesheet',type='text/css',href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/statisticPage.js" type="text/javascript")
    script.
        window.jQuery || document.write('script(src="js/jquery.js")')
body
    div(class="pageheader")
        div(class="pageheader_title")
            a(href="/feature" class="pageheader_title__anchor") KINDER FOOD FINDER
            div(class="ertical-align")
        div(class="pageheader_navigationbar")
            ul(class="pageheader_navigationbar__items")
                li(class="pageheader_navigationbar__item")
                    input(id="pageheader_navigationbar__searchbox" type="text" name="SearchBrandName" Placeholder="Search a brand name...")
                    div(class="vertical-align")
                li(class="pageheader_navigationbar__item")

                li(class="pageheader_navigationbar__item")
                    a(href="/feature") GUIDELINE
                li(class="pageheader_navigationbar__item")
                    a(href="/logout") LOGOUT
    div(class="pagebody")
        div(class="pagebody_navigationbar")
            p CONTROL PANEL
            div(class="pagebody_navigationbar__header")
                a(href="/report") Report
            div(class="pagebody_navigationbar__header")
                a(href="/importinsertPage") Import/ Insert Data
            div(class="pagebody_navigationbar__header")
                a(href="/dbmanagement") Update/ Delete Brand
            div(class="pagebody_navigationbar__header")
                a(href="/store_dbmanagement") Update/ Delete Store
            div(class="pagebody_navigationbar__header")
                a(href="/publish") Publish
        div(class="pagebody_mainbody")
            div(class="brand")
                div(class="pagebody_mainbody__sectionheader__brand")
                    p Statistic
                div(class="pagebody_inputform__choosedata")
                    p Here to show the statistic collected from app
                    input(type="button" id="btnTest" value="Test")
                    p Something
                        input(type = "date", name ="Begin")
                        input(type = "date", name ="End")
                        select(name='gender')
                            option(value = "All") All
                            option(value ="Male") Male
                            option(value = "Female") Female