doctype html

html
head
    title Publish Page
    link(rel='stylesheet',type='text/css',href='css/fontawesome-free/all.min.css')
    link(rel='stylesheet',type='text/css',href='css/dataTables/dataTables.bootstrap4.css')
    link(rel='stylesheet',type='text/css', href='css/shared.css')
    link(rel='stylesheet',type='text/css', href='css/importInsertPage.css')
    link(rel='stylesheet',type='text/css',href='css/sb-admin.min.css')
    link(rel='stylesheet',type='text/css',href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/publishPage.js" type="text/javascript")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script.
        window.jQuery || document.write('script(src="js/jquery.js")');
        var versions = !{JSON.stringify(versions).replace(/<\//g, '<\\/')};
body
    div(class="pageheader")
        div(class="pageheader_title")
            a(href="/feature" class="pageheader_title__anchor") KINDER FOOD FINDER
            div(class="ertical-align")
        div(class="pageheader_navigationbar")
            ul(class="pageheader_navigationbar__items")
                li(class="pageheader_navigationbar__item")
                    input(id="pageheader_navigationbar__searchbox" type="text" name="SearchBrandName" Placeholder="Search a brand name...")
                    div(class="vertical-align")
                li(class="pageheader_navigationbar__item")
                    a(href="/feature") ABOUT THE SERVER
                li(class="pageheader_navigationbar__item")
                    a(href="/feature") GUIDELINE
                li(class="pageheader_navigationbar__item")
                    a(href="/logout") LOGOUT
    div(class="pagebody")
        div(class="pagebody_navigationbar")
            p CONTROL PANEL
            div(class="pagebody_navigationbar__header")
                a(href="/report") Report
            div(class="pagebody_navigationbar__header")
                a(href="/importinsertPage") Import/ Insert Data
            div(class="pagebody_navigationbar__header")
                a(href="/dbmanagement") Update/ Delete Data
            div(class="pagebody_navigationbar__header")
                a(href="/publish") Publish
        div(class="pagebody_mainbody")
            div(class="brand")
                div(class="pagebody_mainbody__sectionheader__brand")
                    p Publish/ Release New Data
                div(class="pagebody_inputform__choosedata")
                    p Which data do you want to publish the new version to the app
                    select(name="Category" id="inputform_choosedata__data")
                        option(value="None") Select
                        option(value="Brand") Brand
                        option(value="Store") Store
                div.pagebody_inputform__brand.pagebody_inputform__chosenresult
                    div.pagebody_inputform__section.pagebody_inputform__brand__section__first
                        p.pagebody_inputform__header Publish New Data
                        div.pagebody_inputform__dialog
                            p Guideline: This function enables the admin to publish the new version of data to the app; Thus, the data will be updated while the app detects there's newer version on server.
                        div.pagebody_inputform__input.pagebody_inputform__inputcsvbrandfile
                            label(style="margin-right: 10px") Brand:
                            input(type="button" id="btnPublishBrand" value="Publish")
                        div.pagebody_inputform__input.pagebody_inputform__inputcsvbrandfile
                            label(style="margin-right: 10px") Version: #{versions[0].version}
                    div.pagebody_inputform__section
                        p.pagebody_inputform__header Insert new brand
                        div.pagebody_inputform__dialog
                            p Guideline: This function enables the admin to insert a new brand to the database. Likewise, only one accreditation should be recorded at this stage. If the admin wants to input more accreditation to a brand, please access the "Accreditation" tab in the "Detail Brand Page" (Update/ Delete Brand > Detail Brand > Accreditation).
                        div.pagebody_inputform__input.pagebody_inputform__inputnewbrand
                            form(action="/insertnewBrand" method="post" enctype="multipart/form-data")
                                div.pagebody_inputform__fifty.pagebody_inputform__inputheader Enter a Brand Name (*)
                                div.pagebody_inputform__fourty.pagebody_inputform__inputheader Category (*)
                                input.pagebody_inputform__fifty.pagebody_inputform__brandnameinput(type="text" name="brandname" Placeholder = "Please enter the brand name...", autocomplete ="off")
                                input.pagebody_inputform__fourty.pagebody_inputform__brandcategoryinput(name = "brandcategory",list = "pagebody_inputform__BrandCategory",placeholder ="Choose or type a category", autocomplete ="off")
                                datalist#pagebody_inputform__BrandCategory
                                    option(value="Egg")
                                    option(value="Pork")
                                    option(value="Chicken")
                                div.pagebody_inputform__hundred.pagebody_inputform__inputheader Choose an image for this brand
                                input(type="file" accept="image/*" name="brandimage")
                                div.pagebody_inputform__fifty.pagebody_inputform__inputheader Accreditation (*)
                                div.pagebody_inputform__fourty.pagebody_inputform__inputheader Rating (*)
                                input.pagebody_inputform__fifty.pagebody_inputform__brandaccreditationinput(type="text" name="brandaccreditation" Placeholder = "Please enter the Accreditation...", autocomplete ="off")
                                input.pagebody_inputform__fourty.pagebody_inputform__brandratinginput(name = "brandrating",list = "pagebody_inputform__BrandRating",placeholder ="Choose or type a rating", autocomplete ="off")
                                datalist#pagebody_inputform__BrandRating
                                    option(value="Good")
                                    option(value="Best")
                                    option(value="Avoid")
                                input.pagebody_inputform__submit.pagebody_inputform__brandsubmit(type="button" value="Submit")
                                input.pagebody_inputform__reset(type="reset" value="Reset")
                                div.pagebody_inputform__hundred.pagebody_inputform__errordialog

                div.pagebody_inputform__store.pagebody_inputform__chosenresult
                    div.pagebody_inputform__section.pagebody_inputform__brand__section__first
                        p.pagebody_inputform__header Publish New Data
                        div.pagebody_inputform__dialog
                            p Guideline: This function enables the admin to publish the new version of data to the app; Thus, the data will be updated while the app detects there's newer version on server.
                        div.pagebody_inputform__input.pagebody_inputform__inputcsvbrandfile
                            label(style="margin-right: 10px") Store:
                            input(type="button" id="btnPublishStore" value="Publish")
                        div.pagebody_inputform__input.pagebody_inputform__inputcsvbrandfile
                            label(style="margin-right: 10px") Version: #{versions[1].version}
                    div.pagebody_inputform__section
                        p.pagebody_inputform__header Insert new store
                        div.pagebody_inputform__dialog
                            p Guideline: This function enables the admin to insert a new store to the database. Likewise, if the admin wants to input the brands which this store have, please access the "Detail Store Page". Furthermore, one name can be used for many stores/ supermarkets (Woolworths, Aldi, .etc). Please access the "Detail Store Page" to add more address to a store.
                        div.pagebody_inputform__input.pagebody_inputform__inputnewbrand
                            form(action="/insertnewStore" method="post" enctype="multipart/form-data")
                                div.pagebody_inputform__fifty.pagebody_inputform__inputheader Store Name (*)
                                input.pagebody_inputform__fifty.pagebody_inputform__storenameinput(type="text" name="storename" Placeholder = "Please enter the store name...", autocomplete ="off")
                                div.pagebody_inputform__fifty.pagebody_inputform__inputheader State/ Territory
                                div.pagebody_inputform__fourty.pagebody_inputform__inputheader Postcode (*)
                                input.pagebody_inputform__fifty.pagebody_inputform__storestateinput(type="text" name="storestate" Placeholder = "Please enter the state...", autocomplete ="off")
                                input.pagebody_inputform__twenty.pagebody_inputform__storepostcodeinput(type="text" name="storepostcode" Placeholder = "Enter postcode...", autocomplete ="off", maxlength = "4")
                                div.pagebody_inputform__hundred.pagebody_inputform__inputheader Street Address (*)
                                input.pagebody_inputform__hundred.pagebody_inputform__storeaddressinput(type="text" name="storeaddress" Placeholder = "Please enter the store address...", autocomplete ="off")
                                input.pagebody_inputform__submit.pagebody_inputform__storesubmit(type="button" value="Submit")
                                input.pagebody_inputform__reset(type="reset" value="Reset")
                                div.pagebody_inputform__hundred.pagebody_inputform__errordialog__store
    div(class="feature_page_footer" style="text-align:center")
        div(class="bottom_copyright" style="display:inline-block")
            p &copy; 2019 IT Capstone Project - KinderFoodFinder. All rights reserved | Design by Team 2 - COMP5703