doctype html

html
head
    title Publish Page
    link(rel='stylesheet',type='text/css',href='css/fontawesome-free/all.min.css')
    link(rel='stylesheet',type='text/css',href='css/dataTables/dataTables.bootstrap4.css')
    link(rel='stylesheet',type='text/css', href='css/shared.css')
    link(rel='stylesheet',type='text/css', href='css/importInsertPage.css')
    link(rel='stylesheet',type='text/css',href='css/sb-admin.min.css')
    link(rel='stylesheet',type='text/css',href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/publishPage.js" type="text/javascript")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script.
        window.jQuery || document.write('script(src="js/jquery.js")');
        var versions = !{JSON.stringify(versions).replace(/<\//g, '<\\/')};
body
    div(class="pageheader")
        div(class="pageheader_title")
            a(href="/feature" class="pageheader_title__anchor") KINDER FOOD FINDER
            div(class="ertical-align")
        div(class="pageheader_navigationbar")
            ul(class="pageheader_navigationbar__items")
                li(class="pageheader_navigationbar__item")
                    input(id="pageheader_navigationbar__searchbox" type="text" name="SearchBrandName" Placeholder="Search a brand name...")
                    div(class="vertical-align")
                li(class="pageheader_navigationbar__item")

                li(class="pageheader_navigationbar__item")
                    a(href="/reset") RESET ACCOUNT
                li(class="pageheader_navigationbar__item")
                    a(href="/logout") LOGOUT
    div(class="pagebody")
        div(class="pagebody_navigationbar")
            p CONTROL PANEL
            div(class="pagebody_navigationbar__header")
                a(href="/report") Report
            div(class="pagebody_navigationbar__header")
                a(href="/importinsertPage") Import/ Insert Data
            div(class="pagebody_navigationbar__header")
                a(href="/dbmanagement") Update/ Delete Brand
            div(class="pagebody_navigationbar__header")
                a(href="/store_dbmanagement") Update/ Delete Store
            div(class="pagebody_navigationbar__header")
                a(href="/publish") Publish
        div(class="pagebody_mainbody")
            div(class="brand")
                div(class="pagebody_mainbody__sectionheader__brand")
                    p Publish/ Release New Data
                div(class="pagebody_inputform__choosedata")
                    p Which data do you want to publish the new version to the app
                    select(name="Category" id="inputform_choosedata__data")
                        option(value="None") Select
                        option(value="Brand") Brand
                        option(value="Store") Store
                div.pagebody_inputform__brand.pagebody_inputform__chosenresult
                    div.pagebody_inputform__section.pagebody_inputform__brand__section__first
                        p.pagebody_inputform__header Publish New Data
                        div.pagebody_inputform__dialog
                            p Guideline: This function enables the admin to publish the new version of data to the app; Thus, the data will be updated while the app detects there's newer version on server.
                        div.pagebody_inputform__input.pagebody_inputform__inputcsvbrandfile
                            label(style="margin-right: 10px") Brand:
                            input(type="button" id="btnPublishBrand" value="Publish")
                        div.pagebody_inputform__input.pagebody_inputform__inputcsvbrandfile
                            label(style="margin-right: 10px") Version: #{versions[0].version}
                div.pagebody_inputform__store.pagebody_inputform__chosenresult
                    div.pagebody_inputform__section.pagebody_inputform__brand__section__first
                        p.pagebody_inputform__header Publish New Data
                        div.pagebody_inputform__dialog
                            p Guideline: This function enables the admin to publish the new version of data to the app; Thus, the data will be updated while the app detects there's newer version on server.
                        div.pagebody_inputform__input.pagebody_inputform__inputcsvbrandfile
                            label(style="margin-right: 10px") Store:
                            input(type="button" id="btnPublishStore" value="Publish")
                        div.pagebody_inputform__input.pagebody_inputform__inputcsvbrandfile
                            label(style="margin-right: 10px") Version: #{versions[1].version}