doctype html

html
head
    title Success Page
body
    div
        h1 Successfully Import #{numProducts} Products Into MongoDB!
            div
                form(action="/backFromSuccess" method="get")
                    input(type="submit" value="BACK")
        div
            p &copy; 2019 IT Capstone Project - KinderFoodFinder. All rights reserved | Design by Team 2 - COMP5703